<div class="container">
  
  <img class="pic" src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_960_720.jpg">
      
      <div class="row">
        <div class="col">
            <div class="side">
                    <h2 class="text-danger">Lecture days in semester</h2>
                        <p>Monday lectures</p>
                        <p>Tuesday lectures</p>
                        <p>wednesday lectures</p>
                        <p>Thursday lectures</p>
                        <p>Friday lectures</p>
            </div>
        </div>
        <div class="col">
            <div class="side">
                    <h2 class="text-danger">Lecture days in semester 2</h2>
                        <p>Monday lectures</p>
                        <p>Tuesday lectures</p>
                        <p>wednesday lectures</p>
                        <p>Thursday lectures</p>
                        <p>Friday lectures</p>
            </div>
        </div>
      </div>
               
                
            

                
                
       
        
        
    
          

            
</div>