  <div class="jumbotron jumbotron-fluid text-center text-white bg-danger">
    <h1 class="text-white">Felix.com </h1>
            <ul>
                <li><a href="#">About me</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1>The Man of Power</h1>
                        <p>
                                Nothing in life is instant. People think miracles are instant, but they really are not. 
                                They are just a process that has been sped up. Nothing God created is instant, because God does not operate in the instant.
                                 He is a God of the potential principle. Everything begins as potential.
                                He did not create a ready-made human race—the earth was not given an instant population.
                                 God made one person—not a million peo- ple. He started with one seed.
                                  Then from that one He created another. 
                                  Then He said to those seeds, “Bless you (that means, ‘You have My permission’).
                                   Be fruitful and multiply and replenish the earth.”
                                In Adam, 
                                God gave the earth a seed with the potential of 
                                one...one hundred...one thousand...one million....
                                 The five billion people on the earth today were in that one man’s loins.
                                  God knew that in Adam and Eve there were enough people to fill the earth. 
                                  That’s the way God works. He knows the potential principle because He introduced it.
                                   It is Him.
                        </p>
      </div>
      <div class="col-md-12">
          <h1> Don't Settle for what you HAVE</h1>
                            <p>Potential is always present, waiting to be exposed.
                             It demands that you never settle for what you have accomplished.
                              One of the greatest enemies of your potential is success.
                             God wants you to maximize the potential He has given to you.
                             You are not yet what you are supposed to be—though you may be pleased with what you now are.
                              Don’t accept your present state in life as final, because it is just that, a state. 
                              Don’t be satisfied with your last accomplishment, because there are many accomplishments yet to be perfected.
                               Since you are full of poten- tial, you should not be the same person next year that you are this year.
                            Never accept success as a lifestyle—it is but a phase.
                             Never accept an accomplishment as the end—it is but a mark in the process.
                              Because you are God’s offspring, there are many selves within you that lie dor- mant,
                               untapped and unused. Your primary problem is that you do not think like God does.</p>
      </div>
  
    </div>
      
        <app-servers></app-servers>
        
  </div>
  
  <app-footer></app-footer>